---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="隆Hola!  Soy Aar贸n Ferrer, un profesional con s贸lida experiencia en desarrollo Full Stack, especializado en tecnolog铆as como JavaScript (ES6+), React, Node.js, MongoDB y Express. Complemento este enfoque con una fuerte orientaci贸n backend y visualizaci贸n de datos a trav茅s de Python, Django, Spark, Pandas y Oracle.
      Cuento con m谩s de tres a帽os de experiencia liderando equipos multidisciplinares en el rol de Product Owner/Digital Product Manager, impulsando soluciones digitales bajo marcos 谩giles como Scrum y Kanban. He gestionado el ciclo completo de vida del producto, desde la conceptualizaci贸n hasta la entrega, priorizando siempre la experiencia del usuario y la escalabilidad t茅cnica.
      Mi formaci贸n en Recursos Humanos fortalece mis capacidades de liderazgo, gesti贸n del talento y din谩mica de equipos, permiti茅ndome actuar como puente efectivo entre los equipos t茅cnicos y de negocio. Comprometido con la entrega de soluciones tecnol贸gicas intuitivas, sostenibles y de alto impacto.
      隆Escr铆beme y hablamos! "
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://AaronFerrer-VLC.github.io" />
    <meta property="og:site_name" content="Aar贸n Ferrer" />
    <meta property="og:title" content="Aaron Ferrer Portafolio" />
    <meta
      property="og:image"
      content="https://AaronFerrer-VLC.github.io/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Aar贸n Ferrer</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
