---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="隆Hola!  Soy Aar贸n Ferrer, un apasionado del desarrollo web y la tecnolog铆a. 
      Recientemente complet茅 el Bootcamp de Web Development en Ironhack Madrid, donde aprend铆 a desarrollar aplicaciones completas y escalables como Full Stack Developer. 
      Antes de dar el salto al desarrollo web, trabaj茅 durante tres a帽os como Digital Product Manager, liderando equipos multidisciplinarios para crear y optimizar productos digitales. 
      Adem谩s, cuento con una s贸lida formaci贸n en recursos humanos gracias a mis estudios universitarios y mi experiencia laboral en departamentos de RRHH, lo que me ha permitido desarrollar habilidades en gesti贸n de talento y trabajo colaborativo. 
      隆Escr铆beme y hablamos! "
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://AaronFerrer-VLC.github.io" />
    <meta property="og:site_name" content="Aar贸n Ferrer" />
    <meta property="og:title" content="Aaron Ferrer Portafolio" />
    <meta
      property="og:image"
      content="https://AaronFerrer-VLC.github.io/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Aar贸n Ferrer</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
